@import url("https://fonts.cdnfonts.com/css/azonix");
@import url("https://fonts.cdnfonts.com/css/cocosharp-trial");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rowdies:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}
body {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
main {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}
/* NAVBAR */
nav {
  width: 100%;
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 2vh;
  position: fixed;
  top: 0;
  z-index: 1000;
}
nav > section {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 10vh;
}
nav > section > a > img {
  width: 40%;
}
nav > section > a {
  width: 10%;
  /* border: 2px solid black; */
}
nav > section > div > a {
  text-decoration: none;
  font-family: "Azonix", sans-serif;
  color: black;
  margin-left: 5vw;
  font-weight: 300;
  font-size: 0.8em;
  transition: all;
  transition-duration: 0.2s;
  border-bottom: 2px solid transparent;
}
nav > section > div > a:hover {
  border-bottom: 2px solid black;
}
/* PHONE NAVBAR */
.big {
  margin-top: 10vh;
  z-index: 1000;
  height: 100vh;
  width: 70%;
  position: fixed;
  top: 0;
  margin-left: 10%;
  right: -90%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: gainsboro;
  transition: 0.3s ease;
}
.big.active {
  right: 0;
}
.big > a {
  font-family: "Azonix", sans-serif;
  text-decoration: none;
  color: black;
  margin-bottom: 4vh;
}
.big > p {
  font-family: "Azonix", sans-serif;
  text-align: center;
  margin-top: 50vh;
}
.remove-hamburger {
  font-weight: 1000;
  display: none;
  font-size: 1.4em;
}
nav > section > button {
  background: none;
  border: none;
  display: none;
  color: black;
  width: fit-content;
  width: 10%;
}
nav > section > button > img {
  width: 90%;
}
/* PLAYLIST*/
.playlist {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 2rem 2rem 6vh;
  /* background-color: rgb(239, 239, 239); */
  margin-bottom: 6vh;
  transition: all;
  transition-duration: 0.3s;
  border-bottom: 0.4rem solid transparent;
}
.playlist:hover {
  border-bottom: 0.4rem solid black;
}
.playlist-cover {
  flex: 50%;
}
.playlist-cover > img {
  width: 60%;
}
.playlist-text {
  flex: 40%;
  font-family: "Azonix", sans-serif;
  display: flex;
  flex-direction: column;
}
.playlist-text > h3 {
  line-height: 5vh;
  font-size: 1.5em;
  margin-bottom: 5vh;
}
.playlist-text > a > button {
  background: none;
  border: 0.2rem solid black;
  padding: 0.4rem 1rem;
  font-size: 1.1em;
  font-weight: 900;
  color: black;
  /* font-family: "CocoSharp Trial", sans-serif; */
  /* font-family: "Archivo Black", sans-serif; */
  font-family: "Rowdies", sans-serif;
  transition: all;
  transition-duration: 0.3s;
}
.playlist-text > a > button:hover {
  background-color: black;
  color: white;
}
/* MORE TO COME */
.more-to-come {
  width: 100%;
  border: 0.1rem solid black;
  font-family: "Azonix", sans-serif;
  padding: 0.5rem;
  margin: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-to-come > h5 {
  text-align: center;
  margin-bottom: 3vh;
  line-height: 3vh;
  /* font-size: 1em; */
}
.more-to-come > a > button {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  font-weight: 900;
  font-size: 0.8em;
  padding: 0.3rem 1rem;
  font-family: "CocoSharp Trial", sans-serif;
}
.more-to-come > a > button:hover {
  background-color: black;
  color: white;
}
/* FOOTER */
footer {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem 2rem 0;
}
footer > h3 {
  font-family: "CocoSharp Trial", sans-serif;
  border-bottom: silver 0.5vh solid;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
footer > section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2vh;
  text-align: center;
}
footer > section > a > img {
  width: 25%;
}
footer > h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.no-show {
  display: none;
}
/* MEDIAQUERY */

@media screen and (max-width: 900px) {
  .playlist-text > h3 {
    font-size: 1.2em;
  }
  .playlist-text > a > button {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 800px) {
  .playlist-text > h3 {
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) {
  .playlist {
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 1rem;
    margin-bottom: 5vh;
  }
  .playlist-cover > img {
    width: 80vw;
    height: 40vh;
  }
  .playlist-cover {
    margin-bottom: 1vh;
  }
  .playlist-text {
    align-items: center;
    align-content: center;
    padding: 0.2rem;
    width: 100%;
  }
  .playlist-text > h3 {
    text-align: center;
    font-size: 0.9em;
    line-height: 4vh;
    width: 100%;
    margin-bottom: none;
  }
  .playlist-text > a > button {
    font-size: 0.8em;
    font-weight: 1000;
    padding: 0.3rem 1rem;
  }
  nav {
    width: 100%;
    height: 8vh;
  }
  nav > section {
    width: 90%;
  }
  main {
    width: 90%;
  }
  nav > section > a > img {
    width: 30%;
  }
  nav > section > a {
    width: 15%;
  }
  nav > section > div {
    display: none;
  }
  nav > section > button {
    display: inline-block;
  }
  nav > section > button > img {
    width: 50%;
  }
  footer > h3 {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 650px) {
  .more-to-come > h5 {
    font-size: 0.8em;
    line-height: 4vh;
  }
  .more-to-come > a > button {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 600px) {
  nav > section > a > img {
    width: 40%;
  }
  nav > section > button > img {
    width: 60%;
  }
  .landing-page-text > h2 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 485px) {
  nav > section > a > img {
    width: 50%;
  }
  nav > section > button > img {
    width: 70%;
  }
}
@media screen and (max-width: 425px) {
  nav > section > a > img {
    width: 60%;
  }
  nav > section > button > img {
    width: 80%;
  }
}
@media screen and (max-width: 390px) {
  .ig-ad > h3 {
    font-size: 0.9em;
  }
  .ig-ad > a > button {
    font-size: 0.8em;
  }
  nav > section > a > img {
    width: 60%;
  }
  nav > section > button > img {
    width: 90%;
  }
}
@media screen and (max-width: 375px) {
  nav > section > a {
    width: 15%;
  }
  nav > section > a > img {
    width: 80%;
  }
}
@media screen and (max-width: 280px) {
  nav,
  main,
  footer {
    display: none;
  }
  .no-show {
    display: inline-flex;
    text-align: center;
    font-family: "Azonix", sans-serif;
  }
}
