@import url("https://fonts.cdnfonts.com/css/azonix");
@import url("https://fonts.cdnfonts.com/css/cocosharp-trial");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}
body {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
main {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}
/* NAVBAR */
nav {
  width: 100%;
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 2vh;
  position: fixed;
  top: 0;
  z-index: 1000;
}
nav > section {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 10vh;
}
nav > section > a > img {
  width: 40%;
}
nav > section > a {
  width: 10%;
  /* border: 2px solid black; */
}
nav > section > div > a {
  text-decoration: none;
  font-family: "Azonix", sans-serif;
  color: black;
  margin-left: 5vw;
  font-weight: 300;
  font-size: 0.8em;
  transition: all;
  transition-duration: 0.2s;
  border-bottom: 2px solid transparent;
}
nav > section > div > a:hover {
  border-bottom: 2px solid black;
}
/* PHONE NAVBAR */
.big {
  margin-top: 10vh;
  height: 100vh;
  width: 70%;
  position: fixed;
  top: 0;
  margin-left: 10%;
  right: -90%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: gainsboro;
  transition: 0.3s ease;
  z-index: 1000;
}
.big.active {
  right: 0;
}
.big > a {
  font-family: "Azonix", sans-serif;
  text-decoration: none;
  color: black;
  margin-bottom: 4vh;
}
.big > p {
  font-family: "Azonix", sans-serif;
  text-align: center;
  margin-top: 50vh;
}
.remove-hamburger {
  font-weight: 1000;
  display: none;
  font-size: 1.4em;
}
nav > section > button {
  background: none;
  border: none;
  display: none;
  color: black;
  width: fit-content;
  width: 10%;
}
nav > section > button > img {
  width: 90%;
}
/* NGF */
.ngf {
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(/img/TjSarx\ Ngf\ Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  align-content: center;
}
.ngf-cover {
  width: 40%;
}
.ngf-cover > p {
  font-family: "Azonix", sans-serif;
  color: white;
  font-size: 0.8em;
}
.ngf-cover > img {
  width: 90%;
}
.ngf-text {
  width: 50%;
}
.ngf-text > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  color: white;
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 2vh;
}
.ngf-text > h3 {
  font-family: "Azonix", sans-serif;
  color: white;
  font-weight: 800;
  margin-bottom: 4vh;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.buttons > a > button {
  font-size: 0.9em;
  font-weight: 1000;
  color: white;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  width: 20vw;
  height: max-content;
  padding: 0.6rem 0;
}
.spotify {
  background-color: #1db954;
  border: none;
  margin-bottom: 1vh;
}
.apple-music {
  background-color: #fc3c44;
  border: none;
  margin-top: 1vh;
}

.otf {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0.5rem 2rem;
  margin-top: 2vh;
}
.otf > h3 {
  font-family: "Audiowide", sans-serif;
  font-size: 1.5em;
}
/* MORE TO COME */
.more-to-come {
  width: 80%;
  /* padding: 0 2rem; */
  border: 0.1rem solid black;
  font-family: "Azonix", sans-serif;
  padding: 0.8rem 2rem 0;
  margin: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-to-come > h5 {
  text-align: center;
  margin-bottom: 3vh;
  /* line-height: 3vh; */
  /* font-size: 1em; */
}
.more-to-come > a > button {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  font-weight: 900;
  font-size: 0.8em;
  padding: 0.3rem 1rem;
  font-family: "CocoSharp Trial", sans-serif;
}
.more-to-come > a > button:hover {
  background-color: black;
  color: white;
}
/* FOOTER */
footer {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem 2rem 0;
}
footer > h3 {
  font-family: "CocoSharp Trial", sans-serif;
  border-bottom: silver 0.5vh solid;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
footer > section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2vh;
  text-align: center;
}
footer > section > a > img {
  width: 25%;
}
footer > h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.no-show {
  display: none;
}
/* MEDIA QUERY */
@media screen and (max-width: 930px) {
  .ngf-cover {
    width: 45%;
  }
  .ngf-cover > img {
    width: 90%;
  }
  .ngf-text {
    width: 55%;
  }
  .ngf-text > h2 {
    font-size: 1.5em;
  }
  .ngf-text > h3 {
    font-size: 1em;
  }
  .ngf-text > a > button {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 800px) {
  .ngf-text > h2 {
    font-size: 1.3em;
    line-height: 4vh;
  }
  .buttons > a > button {
    font-size: 0.8em;
  }
  .ngf-text > h3 {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 768px) {
  main {
    width: 90%;
  }
  .ngf {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
  }
  .ngf-cover {
    margin-bottom: 1vh;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }
  .ngf-cover > img {
    width: 80vw;
    height: 50vh;
  }
  .ngf-text {
    margin-top: 5vh;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
  }
  .ngf-text > h2 {
    /* font-size: 1.3em; */
  }
  .ngf-text > h3 {
    font-size: 1em;
  }
  .buttons > a > button {
    width: 25vw;
  }
  nav {
    width: 100%;
    height: 8vh;
  }
  nav > section {
    width: 90%;
  }
  main {
    width: 90%;
  }
  nav > section > a > img {
    width: 30%;
  }
  nav > section > a {
    width: 15%;
  }
  nav > section > div {
    display: none;
  }
  nav > section > button {
    display: inline-block;
  }
  nav > section > button > img {
    width: 50%;
  }
  footer > h3 {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 750px) {
  .ngf {
    padding: 1rem;
  }
  .ngf-text > h2 {
    font-size: 1.3em;
    line-height: 4.5vh;
  }
  .ngf-text > h3 {
    font-size: 0.9em;
    margin-bottom: 3vh;
  }
  .ngf-text > a > button {
    font-size: 0.8em;
    padding: 0.3rem 1rem;
  }
  .ngf-cover > img {
    width: 95%;
  }
  .otf > h3 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 730px) {
  nav > section > a > img {
    width: 50%;
  }
}
@media screen and (max-width: 650px) {
  nav > section > img {
    width: 5%;
  }
  nav > section > div > a {
    font-size: 0.7em;
  }

  .more-to-come > h5 {
    font-size: 0.8em;
    line-height: 4vh;
  }
  .more-to-come > a > button {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 630px) {
  .ngf-text > h2 {
    font-size: 1.2em;
  }
  .ngf-text > h3 {
    font-size: 0.8em;
  }
  .ngf-text > a > button {
    font-size: 0.7em;
    padding: 0.3rem 0.8rem;
  }
}
@media screen and (max-width: 600px) {
  nav > section > a > img {
    width: 40%;
  }
  nav > section > button > img {
    width: 60%;
  }
}
@media screen and (max-width: 560px) {
  footer > h3 {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 524px) {
  .buttons > a > button {
    width: 35vw;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 485px) {
  nav > section > a > img {
    width: 50%;
  }
  nav > section > button > img {
    width: 70%;
  }
}
@media screen and (max-width: 425px) {
  .ngf-cover > img {
    height: 40vh;
  }
  nav > section > a > img {
    width: 60%;
  }
  nav > section > button > img {
    width: 80%;
  }
}

@media screen and (max-width: 300px) {
  .buttons > a > button {
    width: 40vw;
  }
}
@media screen and (max-width: 280px) {
  nav,
  main,
  footer {
    display: none;
  }
  .no-show {
    display: inline-flex;
    text-align: center;
    font-family: "Azonix", sans-serif;
  }
}
